{% include navbar_logged_out.html %}

<div align="center" style="margin : 5%;">
  <h1>Login</h1>
  <form method="POST" action="/login">
    {% if login_failed %}
    <p class="alert alert-danger">Incorrect Username or Password</p>
    {% end if %}
    <div class="form-group">
      <label class="float-left">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required />
    </div>
    <div class="form-group">
      <label class="float-left">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required />
    </div>
    <a href="/register" class="btn btn-secondary px-3" data-toggle="tooltip" data-placement="top" title="Don't have an account? Go register">
      Register
    </a>
    <button type="submit" class="btn btn-primary px-3">Log in</button>
  </form>
</div>
