{% include navbar_logged_in.html %}

<div style="margin: 1% 5% 5% 5%">
	<button class="btn btn-primary" data-toggle="modal" data-target="#createAd">Create ad</button>
	<button class="btn btn-primary">View my ads</button>
	<ul class="list-unstyled" style="margin-top: 5%">
		{% for item in items %}
		<li class="media my-2 " style="border: px; border-color: black; border-style: solid; border-radius: 10px">
				<img src="/static/img/oli.png" class="mr-3 ml-1 my-3" style="height: 10%; width: 10%;">
				<div class="media-body my-3">
					<h5 class="mt-0 mb-1">{!item!}</h5>
					For donation
				</div>
				<div class="float-right">
					<button class="btn btn-primary mx-3 my-3">View</button>
				</div>
		</li>
		{% end for%}
	</ul>
</div>
</div>

<div class="modal fade" id="createAd" tabindex="-1" role="dialog" aria-labelledby="createAdDialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Create advertisement</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				👀👀👀👀👀👀👀👀👀👀👀👀
				form goes here
				👀👀👀👀👀👀👀👀👀👀👀👀

				<form>
					<div class="form-group">
						<label class="float-left">Title</label>
						<input type="text" class="form-control" id="title" name="title" placeholder="Enter title" required />
					  </div>
					  <div class="form-group">
						<label class="float-left">Description</label>
						<input type="text" class="form-control" id="desc" name="desc" placeholder="Enter desc" required />
					  </div>
					  <div class="form-group">
						<div class="input-group mb-3">
							<div class="custom-file">
							  <input type="file" class="custom-file-input" id="inputGroupFile02">
							  <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
							</div>
							<div class="input-group-append">
							  <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
							</div>
						  </div>
					  </div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Create ad</button>
			</div>
		</div>
	</div>
</div>