<div>
  <div align="center">
    {%if userid%}
    <button class="btn btn-primary" data-toggle="modal" data-target="#createAd">Create ad</button>
    <a class="btn btn-secondary" href="/myadvertisements">View my ads</a>
    <a class="btn btn-primary" href="/myappointments">View Appointments</a>
    {%end if%}
  </div>
  <div style="margin: 1% 5% 5% 5%">
    <form method="GET" action="" name="searchForm">
      <div class="input-group mb-3">
        <input type="search" class="form-control" placeholder="Search" id="charitySearch" name="charitySearch" aria-label="Search through site content" />
        <div class="input-group-append">
          <button class="btn btn-info" type="submit" onclick="submitBtn()">Search</button>
        </div>
      </div>
    </form>
    <ul class="list-unstyled" style="margin-top: 1%">
      {% if not ads %}
      <p class="alert alert-danger">No advertisements</p>
      {% else %} {% for ad in ads %}
      <li class="media my-2 " style="border: px; border-color: black; border-style: solid; border-radius: 10px">
        <img src="/{!ad['img_path']!}" class="mr-3 ml-1 my-3" style="max-width: 25%;" onerror="this.onerror=null; this.src='/static/img/default.png'" />
        <div class="media-body my-3">
          <h3 class="mt-0 mb-1">{!ad["title"]!}</h3>
          <p>Posted: {!ad["datetime"]!}</p>
          <p>
            {!ad["desc"]!}
          </p>
        </div>
        <div class="float-right">
          <a class="btn btn-primary mx-1 my-3" href="/advertisement/view?id={!ad['id']!}">View</a>
          <a class="btn btn-primary mx-1 my-3" href="/booking">Create Appointment</a>

        </div>
      </li>
      {% end for %} {% end if %}
    </ul>
  </div>
</div>

<div class="modal fade" id="createAd" tabindex="-1" role="dialog" aria-labelledby="createAdDialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create advertisement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/advertisement" enctype="multipart/form-data">
          <div class="form-group">
            <label class="float-left">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" required />
          </div>
          <div class="form-group">
            <label class="float-left">Description</label>
            <input type="text" class="form-control" id="desc" name="desc" placeholder="Enter desc" required />
          </div>
          <div class="form-group">
            <label class="float-left">Images</label>
            <div class="custom-file">
              <input type="file" id="img" name="img" multiple />
              <!-- <input type="file" class="custom-file-input" id="img", name="img">
							  <label class="custom-file-label" for="img" aria-describedby="image">Choose file</label> -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create ad</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Confirm delete
      </div>
      <div class="modal-body">
        Did you really want to delete
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a class="btn btn-danger btn-ok">Delete</a>
      </div>
    </div>
  </div>
</div>

<script>
  $("#confirm-delete").on("show.bs.modal", function(e) {
    $(this)
      .find(".btn-ok")
      .attr("href", $(e.relatedTarget).data("href"));
  });
  function submitBtn() {
    console.log(document.getElementById("charitySearch").value);
    document.searchForm.action = "/dashboard?search=" + document.getElementById("charitySearch").value;
  }
</script>
