{% include navbar_logged_in.html %}

<div style="margin: 1% 5% 5% 5%">
        <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#createAd">Create ad</button> -->
        <a class="btn btn-primary" href="/myadvertisements">View my ads</a>
        <div margin>
        </div>
        <ul class="list-unstyled" style="margin-top: 1%">
            <div class="input" style="width:100%">
                <!-- <input type="text" name="search" id="search" class="form-control" placeholder="Search"/> -->
            </div>
            {% if not ads %}
        <p class="alert alert-danger">No advertisements</p>		
            {% else %}
            {% for ad in ads %}
            <li class="media my-2 " style="border: px; border-color: black; border-style: solid; border-radius: 10px">
                    <img src="/{!ad['img_path']!}" class="mr-3 ml-1 my-3" style="height: 20%; width: 20%;">
                    <div class="media-body my-3">
                        <h3 class="mt-0 mb-1">{!ad["title"]!}</h3>
                        <p>
                            {!ad["desc"]!}
                        </p>
                    </div>
                    <div class="float-right">
                        <!-- <a class="btn btn-primary mx-1 my-3" href="/advertisement/view?id={!ad['id']!}">View</a> -->
                        <!-- <a href="/advertisement/view?id={!ad['id']!}" class="btn btn-primary mx-1 my-3">View</a> -->
                        <!-- <a href="/advertisement/delete?id={!ad['id']!}" class="btn btn-danger mx-1 my-3">Delete</a> -->
                        <button class="btn btn-primary" data-toggle="modal" data-target="#editAd">Edit</button>
                        <a href="#" data-href="/advertisement/delete?id={!ad['id']!}" data-toggle="modal" data-target="#confirm-delete"class="btn btn-danger mx-1 my-3">Delete</a>
                    </div>
            </li>
            {% end for %}
            {% end if %}
        </ul>
    </div>
</div>



<div class="modal fade" id="editAd" tabindex="-1" role="dialog" aria-labelledby="createAdDialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit {{!ad["title"]!}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/advertisement" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="float-left">Title</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" required value='{!ad["title"]!}'/>
                          </div>
                          <div class="form-group">
                            <label class="float-left">Description</label>
                            <input type="text" class="form-control" id="desc" name="desc" placeholder="Enter desc" required value='{!ad["desc"]!}'/>
                          </div>
                          <div class="form-group">
                                <label class="float-left">Images</label>
                                <div class="custom-file">
                                    <input type="file" id="img" name="img" multiple>
                                  <!-- <input type="file" class="custom-file-input" id="img", name="img">
                                  <label class="custom-file-label" for="img" aria-describedby="image">Choose file</label> -->
                                </div>
                            </div>
                            <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Edit ad</button>
                            </div>
                    </form>
                </div>
            
            </div>
        </div>
    </div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					Confirm delete
				</div>
				<div class="modal-body">
					Did you really want to delete
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<a class="btn btn-danger btn-ok">Delete</a>
				</div>
			</div>
		</div>
	</div>

	<script>
		$('#confirm-delete').on('show.bs.modal', function(e) {
		$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
	});
	</script>
