{% include navbar_logged_in.html %}

<div style="margin: 1% 5% 5% 5%">
	<button class="btn btn-primary" data-toggle="modal" data-target="#createAd">Create ad</button>
	<button class="btn btn-primary">View my ads</button>
	<div style="background-color: gainsboro; margin-top: 1%;">
		<ul class="list-group">
			<li class="list-group-item">ad 1</li>
			<li class="list-group-item">ad 2</li>
			<li class="list-group-item">ad 3</li>
			<li class="list-group-item">ad 4</li>
			<li class="list-group-item">ad 5</li>
			<li class="list-group-item">ad 6</li>
			<li class="list-group-item">ad 7</li>
			<li class="list-group-item">ad 8</li>
			<li class="list-group-item">ad 9</li>
			<li class="list-group-item">ad 10</li>
		</ul>
	</div>
</div>

<div class="modal fade" id="createAd" tabindex="-1" role="dialog" aria-labelledby="createAdDialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Create advertisement</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
                👀👀👀👀👀👀👀👀👀👀👀👀
                form goes here
                👀👀👀👀👀👀👀👀👀👀👀👀
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Create ad</button>
			</div>
		</div>
	</div>
</div>
