<!DOCTYPE html>
<html>  
    <head>
        <!-- Page Title -->
        <title>Eng Prac Portfolio</title>
        
        <!-- Page Icon -->
        <link rel="icon" href="/static/img/oli.png"/>
        
        <!-- import css -->
        <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css"/>
        
        <!-- import javascript scripts -->
        <script type="text/javascript" src="/static/js/transitions.js"></script>
        
    </head>
    
    <body>
        <p>homepage is a big YEET</p>
    </body>
</html>