<!DOCTYPE html>
<html>
  <head>
    <!-- Page Title -->
    <title>PoVo</title>

    <!-- Page Icon -->
    <link rel="icon" href="/static/img/povo.png" />

    <!-- import css -->
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css" />

    <!-- import javascript scripts -->
    <script type="text/javascript" src="/static/js/transitions.js"></script>
  </head>

  <body>
    <div align="center">
      <h1>homepage is a big YEET</h1>
      <a href="/login" class="btn btn-default">
        <button type="button">
          Login
        </button>
      </a>
      <a href="/register" class="btn btn-default">
        <button type="button">
          Register
        </button>
      </a>
    </div>
  </body>
</html>
