{% include navbar_logged_in.html %}

<div style="margin: 1%">
	<form method="POST" action="/resetpassword">
		<div class="form-group">
			<label class="float-left">Email</label>
			<input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required />
		</div>
		<div class="form-group">
			<label class="float-left">Enter New Password</label>
			<input type="password" class="form-control" id="password" name="password" placeholder="Enter New password" required />
		</div>
		<button type="submit" class="btn btn-primary px-3">Reset</button>
	</form>
</div>
